<%- include('home.head.00.top.ejs', {lang:lang}); %>
  <title><%= title %></title>
<%- include('home.head.01.preload-stylesheets.ejs'); %>
<%- include('home.head.02.shortcut_icon.ejs'); %>
<%- include('home.head.03.preload-fonts.ejs'); %>
<%- include('home.head.04.stylesheets.ejs'); %>
<%- include('home.head.05.bottom.ejs'); %>
